*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url("../images/hero_image.png");
    background-position: center;
    overflow-x: hidden;
    font-family: "Poppins";
    animation: pageload 1s ease;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: white;
}
a:active{
    border-bottom: 1px solid #0003b0;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}
header{
    margin-top: 1vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(19, 19, 19, 0.974);
    border-bottom: 1px solid #0003b0;
    width: 100%;
    height: 12vh;
    border-radius: 18px;
    box-shadow: 0 1px 2px;
}
.header-icon{
    width: 18vh;
    height: 9vh;
    display: block;
    margin: 0 auto;
}
.nav-list{
    display: flex;
    gap: 3vh;
    list-style-type: none;
    font-size: 1.6vh;
    justify-content: center;
    width: 100%;
    margin-top: vh;
}
.hero{
    background: url("../images/hero_image.png");
    background-position: 170%;
    background-size: cover;
    width: 100%;
    height: 100vh;
    text-align: center;
    padding-top: 28vh;
}
.hero-title{
    color: white;
    font-size: 6vh;
    white-space: nowrap;
    line-height: 6vh;
}
.hero-title span{
    color: #1418ff;
}
.hero-subtitle{
    color: white;
    white-space: nowrap;
    font-size: 1.7vh;
    margin-top: 3vh;
}
.hero-bottom{
    display: inline-flex;
    align-items: center;
    gap: 1vh;
    padding-left: 5vh;
    background-color: #1418ff;
    border-radius: 16px;
    font-size: 2vh;
    margin-top: 10vh;
    width: 30vh;
    height: 5vh;
    box-shadow: 0 1px 1px;
}
.hero-bottom:active{
    transform: scale(0.95);
    box-shadow: 0 0 5px;
}
.hero-icon-whatsapp{
    width: 3vh;
    height: 3vh;
}
.hero-image{
    width:100%;
    margin-top: 5vh;
}
.services{
    width: 100%;
    height: 290vh;
}
.services-title{
    white-space: nowrap;
    color: white;
    font-size: 4vh;
    line-height: 4.2vh;
    padding-left: 3vh;
    padding-top: 8vh;
}
.services-title span{
    color: #1418ff;
    font-size: 2vh;
}
.services-tag{
    width: 100%;
}
.services-tag-list{
    gap: 2vh;
    padding-top: 3vh;
    padding-left: 3vh;
    list-style-type: none;
    display: flex;
    color: #1418ff;
    font-size: 1.2vh;
}
.text-tag-list{
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
}
.icon-tag-list{
    filter: brightness(0) saturate(100%) invert(11%) sepia(100%) saturate(7484%) hue-rotate(243deg) brightness(96%) contrast(106%);
    width: 3vh;
    height: auto;
}
.services-card{
    box-shadow: 0 2px 2px #1418ff;
    width: 100%;
    height: 50vh;
    margin-top: 10vh;
    padding-top: 44vh;
    padding-left: 3vh;
    background-color: blue;
}
.services-card-title{
    color: white;
    font-size: 3vh;
}
.gallery{
    text-align: center;
    width: 100%;
    height: 100vh;
}
.gallery-title{
    text-align: initial;
    white-space: nowrap;
    color: white;
    font-size: 4vh;
    line-height: 4.2vh;
    padding-left: 3vh;
    padding-top: 8vh;
}
.gallery-title span{
    color: #1418ff;
    font-size: 2vh;
}
.gallery-card{
    width: 100%;
    height: 60vh;
    padding: 1vh;
    display: flex;
    gap: 3vh;
    margin-top: 1vh;
    position: relative;
    overflow: hidden;
}
.gallery-card-image{
    border: 1px solid #1418ff;
    border-radius: 12px;
    box-shadow: 0 1px 2px;
    width: 30vh;
    height: 30vh;
    flex: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20vh;
    margin-left: -18vh;
    animation: gallery-cards-animation 9s infinite;
}
.gallery-image1{
    animation-delay: -6.75s;
}
.gallery-image2{
    animation-delay: -4.5s;
}
.gallery-image3{
    animation-delay: -2.25s;
}
.gallery-image4{
    animation-delay: 0s;
}
.gallery-card-one{
    margin-top: 6vh;
}
.gallery-buttom-instagram{
    align-items: center;
    gap: 1vh;
    white-space: nowrap;
    display: inline-flex;
    border: 0.5px solid;
    border-radius: 18px;
    color: white;
    font-size: 2vh;
    width: 30vh;
    height: 7vh;
    padding-left: 1vh;
}
.gallery-buttom-instagram:active{
    transform: scale(0.95);
    box-shadow: 0 0 5px;
}
.gallery-icon-instagram{
    width: 2vh;
    height: 2vh;
}
.about{
    width: 100%;
    height: 100vh;
}
.about-title{
    white-space: nowrap;
    color: white;
    font-size: 4vh;
    line-height: 4.2vh;
    padding-left: 3vh;
    padding-top: 8vh;
}
.about-title span{
    color: #1418ff;
    font-size: 2vh;
}

@keyframes pageload{
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
 }
 @keyframes gallery-cards-animation{
    0% {transform: translateX(230%) scale(0.55); opacity: 0;}
    25% {transform: translateX(100%) scale(0.8); opacity: 0.85;}
    50% {transform: translateX(0%) scale(1.3); opacity: 1;}
    75% {transform: translateX(-230%) scale(0.55); opacity: 0;}
    100% {transform: translateX(-100%) scale(0.8); opacity: 0.85;}
 }